<div class="jumbotron text-light text-center">
    <img src="img/favicon.png" alt="Logo">
    <h1 class="display-4">Notes App with NodeJS & MongoDB</h1>
    <p class="lead">Simple notes app for NodeJS with authentication via PassportJS and use of MongoDB.</p>
    <hr class="my-4 bg-light">
    <p>Developers can visit the documentation page to install the application on a server.</p>
    <p>Look and/or download the application code from <a href="https://github.com/emarifer/notes-app-nodejs" target="_blank" rel="noopener noreferrer">here</a>.</p>
    <a href="https://emarifer.github.io/curriculum/" target="_blank" rel="noopener noreferrer" class="btn btn-info rounded-pill button-shadow">My Site</a>
</div>